@charset "UTF-8";

@font-face {
    font-family: 'Shrikhand';
    src: url('fonts/Shrikhand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }


*{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}

:root {
    --primaire-color: #9356DC;
    --secondaire-color: #FF79DA ;
    --tertiaire-color: #99E2D0;
  }

  h1, h2, h3 {
    font-family: "Shrikhand", cursive;
  }

body, html {
    height:100vh;
    width: 100vw;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

/*********************************/
/*  Configuration générale */
/*********************************/

/* Header */

.header {
  height: 63px;
  background-color: #fff;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}
.logo {
  text-align: center;
  padding: 16px 0;
}
.logo img {
  max-width: 197px;
}

/*  Adresse */

.adresse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #EAEAEA;
  height: 50px;
  box-shadow: 0px 4px 4px 0px #00000040;
  gap: 16px;
  margin-bottom: 5px;
}

.texte-adresse {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  
}

/*Reserver*/

.reserver {
  background-color: #f6f6f6;
  padding: 48px 24px;
  text-align: center;
}
.reserver-titre {
  margin-bottom: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 32px;
}
.reserver-sous-titre {
  margin-bottom: 48px;
  color: #666;
  padding: 0 24px;
  font-weight: 300;
}


/*********************************/
/*  Configuration générale Bouton  */
/*********************************/
.btn {
  display: inline-block;
  padding: 16px 32px;
  min-width: 218px;
  color: #fff;
  font-weight: 500;
  background: linear-gradient(#FF79DA, #9356DC);
  border: none;
  border-radius: 50px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: 0.3s ease;
}


.btn:hover {
  opacity: 0.9;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}
